<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Authn" value="6+iXNHLgG5TsDBVSsRgLHONCQJeMuiNkllSj7fGvi3ZkRyoDBTuk1h7FPt5hMVk1zWtec4zvmF3B3dwaXDcjpw=="/>
			<!--Authorization Code-->
		<add key="Dongle" value=""/>
			<!--Dongle SN-->
		<add key="LocalIP" value="127.0.0.1"/>
			<!--Local IP Address for KNX IpRouting Interface-->
			<!--本地IP（用于IP路由接口设置）-->
		<add key="DataFile" value="-B01.xlsx"/>
			<!--Default datafile path-->
			<!--默认数据文件路径-->
		<add key="HmiFile" value="_B01.drawio"/>
			<!--Default datafile path-->
			<!--默认数据文件路径-->
		<add key="InitRead" value="false"/>
			<!--Read all objects' feedback value while initialization-->
			<!--初始化完成后读取全部对象反馈值-->
	</appSettings>
</configuration>
